**/__pycache__/

# dependencies
client/node_modules/
client/.pnp
client/.pnp.js

server/.venv
server/src/data/uploads
server/src/data/records
server/src/data/models

# Environment files
**/.env

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
